# PostgreSQL / TimescaleDB (container)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=sensor_data

# PostgreSQL / TimescaleDB connection string
POSTGRES_URL=postgresql://user:password@host:port/sensor_data

# Google Cloud project ID
GCP_PROJECT_ID=

TIMESCALE_READONLY_USER=
TIMESCALE_READONLY_PASSWORD=

# Grafana
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

VITE_AUTH0_DOMAIN=
VITE_AUTH0_AUDIENCE=